<%#
# Creates a trigger to open and close parts of the workload view.
# Parameters:
# trigger_for: set as "data-for"-attribute
#
# &#x25b6; is a right-pointing filled triangle.
%>

<span class="trigger closed">&#x25b6;</span>
