<%
# Renders the headers of the month names
%>

<%
   if @viewmode == :week_range
      days = @currentweek
   else
      days = @currentmonth
   end
%>

<% @users.each do |user|%>
    <%
    user_issues = @issues.where(:assigned_to_id => user.id)
    %>
    <% if user_issues.size > 0 %>
        <tr>
          <td><%= user %></td>
          <%
            all_days = WorkDayHelper.user_dailyload(user_issues, days)
          %>
          <% days.each do |day| %>
          <td><%= all_days[day]%></td>
          <% end %>
        </tr>
        <tr>
          <% user_issues.find_each do |issue|%>
            <td>
              <p><%= link_to_issue(issue) %></p>
              <% unless issue.period_id.nil? %>
                <p>Period: <%= Period.where("period_id = #{issue.period_id}").first.period_name %></p>
              <% end %>
              <p>---------------------------------</p>
            </td>
          <% end %>
        </tr>
    <% end %>
<% end %>